@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0 !important;
  padding: 0 !important
}

.navbar {
  margin-bottom: 0 !important;
  border: none;
}

.container-fluid{
  padding: 0 !important;
  font-family: 'Montserrat';
  background-color: white
}

/* Header que contêm ícones - lado direito*/
.skin-blue .main-header .logo {
  background-color: gold;
  color: white;
  font-weight: 900;
  text-shadow: 1px 2px 10px rgba(000, 000, 000, 0.75)
}

.skin-blue .main-header .logo:hover{
  background-color: gold; 
  cursor: pointer;
}

/* Alterando cor do Menu Hámburguer*/
.sidebar-toggle{
  color:  #f4f4f4 !important;
}

.sidebar-toggle:hover {
    /* Defina para a mesma cor padrão para desativar a mudança */
    color: white !important; 
    
    /* Opcional: Remove o fundo/sombra que pode aparecer */
    background-color: transparent !important;
}

/* Header que contêm título do dashboard - lado esquerdo */
.skin-blue .main-header .navbar { 
  background-color: gold; 
  cursor: pointer;
}

.skin-blue .main-header .logo:hover {
  background-color: 
}

/* Alterando Sidebar Principal */

.skin-blue .main-sidebar {
  background-color: #333333; /* Roxo Exemplo */
}

/* Colocando A opção Sobre por último */
.sidebar-menu > li:last-child {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 1px solid #4b646f; /* Opcional: uma linha divisória */
}

.sidebar-menu li a{
  font-size: 12px;
}

/* Aumenta o espaço entre o ícone (FontAwesome) e o texto */
.sidebar-menu > .menu-item > li > a > .fa, 
.sidebar-menu > li > a > .fas, 
.sidebar-menu > li > a > .far,
.sidebar-menu > li > a > .glyphicon { 
    margin-right: 12px; /* <--- Aumente ou diminua este valor (o padrão é uns 5px) */
}

/* Estilizando títulos de cada aba do dashboard */

.kpi_title, .tendencias_title, .geografia_title{
  margin: 10px 0px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.title_div{
  background: #0B2A4C;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab_description{
  text-align: center;
  margin-top: 10px;
  font-size: 300;
  line-height: 25px;
}

/* Estilizando Filtros de Dados */
.data_filters{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.selectize-input.multi{
  height: fit-content;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;  
}

/* Estilizando página Sobre */

.sobre-title{
  margin: 0px 5px;
  color: black;
  font-weight: 700;
}

.sobre-text{
  margin: 0 10px;
  padding-right: 10px;
  padding-top: 10px;
  line-height: 2.5em;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
  text-indent: 30px;
}

.classesEfontes-title{
  margin: 0;
  margin-top: 10px;
}

.integrantes-title{
  margin: 0;
  margin-top: 10px;
}

.dataset-link{
  margin-left: 2px;
}

/* Customização do Card da área sobre */

.card-container{
  width: 20%;
  padding: 25px;
  border: 1px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 2px 10px rgba(000, 000, 000, 0.50),
  background-color: #f5f5f5;
  margin-top: 1.5em;
  margin-left: 5px;
  margin-right: 3px;
}

.card-container:hover{
  box-shadow: 1px 2px 10px rgba(000, 000, 000, 0.75);
  scale: 110%;
  z-index: 10 !important;
  cursor: pointer;
}

.integrantes-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-description{
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-name{
  font-size: 24px;
  font-weight: bold;
}